body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* Cor de fundo padrão */
    background-image: url('Páscoa..jpg'); /* Adicione o caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mensagem {
    text-align: center;
    color: #fff; /* Cor do texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra no texto */
}

.feliz {
    margin-top: 10%;
    font-size: 18px;
    font-family: 'Pacifico', cursive; /* Adicione uma fonte festiva */
    letter-spacing: 2px; /* Espaçamento entre letras */
    line-height: 1.2; /* Altura da linha para melhor legibilidade */
}

/* Estilo adicional para o nome do usuário */
#nomeUsuario {
    color: #FFD700; /* Cor dourada para o nome do usuário */
    font-weight: bold; /* Texto em negrito */
    font-size: 1.2em; /* Tamanho do texto do nome do usuário */
}